{% extends "layout.html" %}
  
{% block content %}
  <div class="jumbo">
<h2>Planos<h2>
    <h3>Descritivo dos planos e demais informações: <h3>
  </div>


<!-- PLANOS -->
        <div class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">Nosso Planos</div>
          <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <!-- <img src="images/more-from-1.png"> -->
                <img src="static/img/planos.jpeg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Plano Bronze</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
	   A  aaaaa, aaaaaa, aaaaaaaaaaaa aaaa aaaaa aaaa aaaaa aaaa aaa aaaaa aa aaaaaa aaa: aaaaaaa aaaaaa, aaaaaaa aaa aaaa aaaa, aaaa a aaaaa aaaa.
		</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                  Mais Informações
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="static/img/planos1.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Plano Prata
                 </h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
	   A  aaaaa, aaaaaa, aaaaaaaaaaaa aaaa aaaaa aaaa aaaaa aaaa aaa aaaaa aa aaaaaa aaa: aaaaaaa aaaaaa, aaaaaaa aaa aaaa aaaa, aaaa a aaaaa aaaa.
		</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Mais Informações
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="static/img/planos2.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Plano Ouro</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  A  aaaaa, aaaaaa, aaaaaaaaaaaa aaaa aaaaa aaaa aaaaa aaaa aaa aaaaa aa aaaaaa aaa: aaaaaaa aaaaaa, aaaaaaa aaa aaaa aaaa, aaaa a aaaaa aaaa.
                </span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Mais Informações
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="static/img/planos3.jpg">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Plano Diamante</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
	                  A  aaaaa, aaaaaa, aaaaaaaaaaaa aaaa aaaaa aaaa aaaaa aaaa aaa aaaaa aa aaaaaa aaa: aaaaaaa aaaaaa, aaaaaaa aaa aaaa aaaa, aaaa a aaaaa aaaa.
</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Mais Informações
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
